#top{
    background-color: darkorchid;
    font-size:120%;
    text-align: center;
}

}
td{
    height: 20px;
}
tr:hover{
    background-color: brown;
}
h2{
    font-family: segoe print;
    color:darkgoldenrod;
    background-color: cornflowerblue;
}
body{
    background-color:floralwhite;
}